@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: "Rubik";
}

body {
    background-color: hsl(270, 20%, 96%);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.purple {
    width: 30%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px 0px 1000px 1000px;
    z-index: -1;
    background-image: linear-gradient(270deg, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
}

.grey {
    width: 30%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1000px 0px 0px 0px;
    z-index: -1;
    background-color: rgba(240, 234, 234, 0.528);
}

.mobile {
    width: 200px;
    min-width: 200px;
    height: 400px;
    border-radius: 2rem;
    overflow: hidden;
    border: 0.5rem solid white;
    box-shadow: 0.5rem 0.5rem 19px 0px #00000038;
    display: flex;
    flex-direction: column;
    margin: 30px 5px 30px 5px;
    background-color: hsl(270, 20%, 96%);
}

.nav {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(270deg, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 0.2rem;
}


.absolute {
    height: 15px;
    width: 50%;
    position: relative;
    bottom: 3px;
    align-self: center;
    background-color: white;
    border-radius: 2rem;

}

.coloum {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.id-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.avatar {
    height: 25px;
    width: 25px;
    border: 1px solid hsl(270, 20%, 96%);
    border-radius: 50%;
    margin-left: 5px;
} 

.id-name {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 40px;
}

.ellipsis {
    align-self: right;
}

.reply {
    width: 50%;
    padding: .5rem;
    background-color: hsl(270, 53%, 93%);
    margin-left: 4px;
    border-radius: 0.5rem 0.5rem 1rem 0.1rem ;
    font-size: 0.5rem;
    color: hsl(276, 55%, 52%);
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.dog {
    height: 40px;
    width: 40px;
    border-radius: 0.5rem;
    margin-right: 4px;
    
}

.mytext {
    width: 50%;
    padding: .5rem;
    background-color: hsl(0, 0%, 100%);
    margin-right: 4px;
    border-radius: 0.5rem 0.5rem 0.1rem 1rem;
    font-size: 0.5rem;
    color: hsl(271, 15%, 43%);
    align-self: flex-end;
}

.payment {
    width: 50%;
    padding: 0.5rem;
    height: 10px;
    border-radius: 0.5rem 0.5rem 1rem 0.1rem ;
    background-image: linear-gradient(270deg, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px hsl(276, 100%, 81%) solid;
}

.hour {
    font-size: 0.5rem;
    margin-left: 3px;
    color: hsl(276, 100%, 81%);
}

.money {
    font-size: 0.7rem;
    margin-left: 5px;
    color: white;
}

input {
    height: 30px;
    width: 88%;
    border-radius: 2rem;
    border: 0;
    font-size: 0.55rem;
    padding-left: 7%;
    color: hsl(206, 6%, 79%);
    margin-left: 2.5%;
    margin-bottom: 5px;
}

.placeholder {
    display: flex;
    flex-direction: row;
}


.text {
  width: 30%;
  line-height: 150%;
  max-width: 350px;
  min-width: 280px;
}

.head {
    font-size: 2rem;
    color: hsl(271, 36%, 24%);
    margin-bottom: 20px;
}

.main {
    font-size: 0.9rem;
    color: hsl(270, 7%, 64%);
}


@media (max-width:600px) {
    body {
        flex-direction: column;
    }

    .text {
        width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .purple {
        width: 50%;
        height: 50vh;
        border-radius: 0px 0px 1000px 0px;
    }
    
    .grey {
        width: 50%;
        height: 50vh;
    }
}